h1 {
    text-align: center;
}

.form-business {
    display: block;
    background-color: lightgreen;
    max-width: 100%;
    text-align: center;
    padding: 10px;

    width: 300px;
    background-color: rgb(235, 235, 172);
    padding: 30px;
    margin: auto;
    margin-top: 15px;
    /* arriba*/
    border-radius: 4px;
    font-family: 'calibri';
    color: black;
    box-shadow: 7px 13px 37px #000;
}

label {
    display: block;
    display: inline;
}

.form-business input {
    display: block;
    text-align: center;
    margin: 0 auto;
}

.button {
    padding: 10px;
}
 .button button {
    width: 110px;
    padding: 8px;
    background-color: rgb(197, 209, 144);
    border-radius: 45px;
    transition: all 0.9s ease 0s;
    cursor: pointer;
    outline: none;
 }