body {
    background-color: #9CBE9D;
}

img {
    height: 460px;
    /* width: 400px; */
}

button img {
    height: 85px;
    text-align: center;
    margin: auto;
}

div.mainContent {
    width: 600px;
    text-align: center;
    margin: auto;
}

h1{
    font-family: cursive;
    font-size: 40px;
    color: darkblue;
}

#caption {
    font-family: cursive;
    font-size: 30px;
    color: darkblue;
}