body{
    background-color: rgb(226, 198, 74);
}

h1
{
    text-align: center;
    color: white;
    font-family:"Segoe UI";
}


.form-login
{
    width: 420px;
    background-color: rgb(231, 206, 94);
    padding: 30px;
    margin: auto;
    margin-top: 15px;
    /* arriba*/
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px  rgb(221, 189, 46);
}

.controls {
    width: 100%;
    background:  rgb(231, 206, 94);
    padding: 5px;
    margin-bottom: 7px;
    /* arriba, derecha, abajo, izquierda */
    border-radius: 10px;
    font-family: 'calibri';
    color: white;
    font-size: 18px;
}

.buttons {
    padding: 10px;
    margin: 10px auto;
    width: 100%;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 700;
    color: white;
    background-color:  rgb(224, 196, 69);
    border: none;
    border-radius: 45px;
    transition: all 0.9s ease 0s;
    cursor: pointer;
    outline: none;
}