h1, h2, h3 { margin:0; padding:0; font-weight:normal; font-style:normal; }
a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
#menu_1d0e9860 a { text-decoration: none; }
#menu_1d0e9860_pane { background-color: #2C2825; border: 1px solid #646464; padding-top: 10px; padding-bottom: 10px; box-shadow: 2px 2px 6px 0px rgba(8, 8, 8, 0.784314); }
#menu_1d0e9860_hr { background-color: #646464; height: 1px; border: none; }
#menu_1d0e9860_entry { padding-left: 10px; padding-right: 10px; padding-top: 3px; padding-bottom: 3px; }
#menu_1d0e9860_entry:hover { background-color: #323232; color: #FFFFFF !important; }
#menu_1d0e9860_entry:hover span { color:#FFFFFF !important; }
		.menu_1d0e9860_mainMenuEntry { text-align: center; }
		.menu_1d0e9860_mainMenuEntry:hover {	background-color:#FFFFFF; }
		.menu_1d0e9860_mainMenuEntry:hover span {	color:#000000 !important; }
		#menu_1d0e9860 .mobileEntry { display: none; } 
		#menu_1d0e9860 .normalEntry { display: block; } 
		@media only screen and (max-width:450px) { 
			#menu_1d0e9860 .mobileEntry { display: block; } 
			#menu_1d0e9860 .normalEntry { display: none; } 
		}
body { background-color:#FFFFFF; padding:0;  margin: 0; }
.textstyle1 { text-align:center; }
#container_3aee8af7 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:45px; min-width:200px; background:none;  }
#container_3aee8af7_padding { margin: 10px; display: block;  }
#text_6568132a { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
.textstyle2 { text-align:left; }
.textstyle3 { font-size:20pt; font-family:'Segoe Script', 'Palatino Linotype', serif; color:#000000; text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.784314);  }
.textstyle4 { font-size:13pt; font-family:'Palatino Linotype', 'Book Antiqua3', Palatino, serif; color:#000000;  }
#container_2c2aa590 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:14px; background-color:#2C2825;  }
#container_2c2aa590_padding { margin: 10px; display: block;  }
#menu_1d0e9860 { vertical-align: bottom; position:relative; display: inline-block; width:420px; height:34px; max-width:800px; text-align:left; background:none;  }
.menuholder1 { position: relative; overflow: hidden; width: 100%; height: 100%; }
.style1 { position:absolute; width:100px; height:34px; left:10px;  }
.style2 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:16px;  }
.textstyle5 { font-size:10pt; font-family:'Palatino Linotype', 'Book Antiqua3', Palatino, serif; color:#FFFFFF; font-weight:bold;  white-space: nowrap; }
.style3 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:13px;  }
.style4 { position:absolute; width:100px; height:34px; left:110px;  }
.style5 { position:absolute; width:100px; height:34px; left:210px;  }
.style6 { position:absolute; width:100px; height:34px; left:310px;  }
.textstyle6 { font-size:15pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  white-space: nowrap; }
#container_5a940f7f { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:70px; max-width:800px; background:none;  }
#container_5a940f7f_padding { margin: 10px; display: block;  }
.textstyle7 { font-size:12pt; font-family:'Palatino Linotype', 'Book Antiqua3', Palatino, serif; color:#000000; line-height: 1.5;  }
#img_33996244 { vertical-align: bottom; position:relative; display: inline-block; width:83%; background:none; height:auto;  }
#form_5b26006a { vertical-align: top; position:relative; display: inline-block; width:50%; min-height:320px; background:none;  }
#form_5b26006a_padding { margin: 10px; display: block;  }
#heading_6d9fc346 { vertical-align: bottom; position:relative; display: inline-block; background:none; font-size:24pt; font-family:Arial, Helvetica, sans-serif; color:#000000; text-align:left;  }
.textstyle8 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#combo_261211a2 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:120px; height:25px; background-color:#FFFFFF; border: 1px solid #A0A0A0; font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#radiobutton_3ef5dfa3 { vertical-align: bottom; position:relative; display: inline-block; width:20px; height:20px;  }
#radiobutton_75a96666 { vertical-align: bottom; position:relative; display: inline-block; width:20px; height:20px;  }
#checkbox_190c23ae { vertical-align: bottom; position:relative; display: inline-block; width:20px; height:20px;  }
#button_14af7a0a { box-sizing: border-box; vertical-align: bottom; border-radius: 9px; position:relative; display: inline-block; width:89px; height:27px; background-color:#A9A9BC; background: linear-gradient(to bottom,#A9A9BC, #4C4C54 50%, #3B3B41 50%, #2A2A2F); border: 2px solid #595959;  }
.vcenterstyle1 { display: table; width: 100%; height: 100%; }
.vcenterstyle2 { display: table-cell; vertical-align: middle; }
.textstyle9 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  }
#button_45e06dfd { box-sizing: border-box; vertical-align: bottom; border-radius: 9px; position:relative; display: inline-block; width:89px; height:27px; background-color:#A9A9BC; background: linear-gradient(to bottom,#A9A9BC, #4C4C54 50%, #3B3B41 50%, #2A2A2F); border: 2px solid #595959;  }
.textstyle10 { font-size:10pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
@media only screen and (max-width: 450px)
{
		#menu_1d0e9860 { width:100px;  }
}
@media only screen and (max-width: 400px)
{
		#text_6568132a * span { font-size:14pt;  }
}
