body{
	align-content: stretch;
	text-align: left;
	background: burlywood;
	
}



.segment{
	background: burlywood;
	border-bottom-color: burlywood;
	text-decoration-color: black;
  margin: 20px;
}



h1 {
  font: bold 30px/1 arial;
  text-transform: uppercase;
  color: yellow;
  text-shadow: 0  2px 0 #41330a,
               0  4px 0 #41330a,
               0  6px 0 #41330a,
               0  8px 0 #41330a,
               0 10px 0 #41330a,
               0 12px 0 #41330a;
}