*body
{
    background-color: white;
    color: #ffffff
}
h1
{
   text-transform:uppercase;
    font: bold 20px/45px Helvetica, Verdana, sans-serif;
    text-align: center;
}
label 
{
    display: block;
}
h2 
{
    font: bold 14px Helvetica, Verdana, sans-serif;
    background-color: #ff9c9c;
    text-align: center;
    padding: 5px;
    border-radius: 10px;
    width: 300px;
    margin: 0px auto;
}
div 
{
    background-color: #fdcae1;
    width: 300px;
    margin: 0px auto;
    padding: 10px;
    border-radius: 15px;
}