@charset "utf-8";
/* CSS Document */

.body2{
	background-color:#f5f5f5;
	text-align: center;
}


h2{
	text-align: center;
}


form{
	width:450px;
	padding:16px;
	border-radius:10px;
	margin:auto;
	background-color:white;
}

form label{
	width:100%;
	font-weight:bold;
	display:inline-block;
}

form select{
	width:100%;
	border:1px solid #CED4DA;
}


form input[type="text"],
form input[type="email"],
form input[type="tel"]{
	width:100%;
	height: 30px;
	padding:3px 10px;
	border:1px solid #CED4DA;
	border-radius:3px;
	background-color:white;
	margin:8px 0;
	display:inline-block;
}

form input[type="submit"]{
	width:100%;
	padding:8px 16px;
	margin-top:32px;
	border:1px solid #0B5ED7;
	border-radius:5px;
	display:block;
	color:#fff;
	background-color:#0B5ED7;
} 

form input[type="submit"]:hover{
	cursor:pointer;
}



textarea{
	width:100%;
	height:100px;
	border:1px solid #CED4DA;
	border-radius:3px;
	background-color:white;			
	margin:8px 0;
	resize:none;
	display:block;
}

