body {
	background-color: rgb(0, 228, 228);
}

* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}


/* Menu principal*/
nav ul {
	list-style: none;
	text-align: center;
	padding: 0px;
	font-size: 20px;
}

nav ul li {
	display: inline-block;
	padding: 10px;
}

ul li a {
	text-decoration: none;
	color: rgb(13, 73, 70);

}


.portada {
	width: 100%;
	height: auto;
}


header {
	font-family: Helvetica;
	width: 100%;
	margin: 0 auto;
	background-color: rgb(224, 138, 138);
	box-shadow: 2px 2px 5px #999;
}

.enlaces {
	background-color: D9004D;
}

.enlaces ul {
	list-style: none;
	text-align: center;
}

.opciones>li {
	position: relative;
	display: inline-block;
}

.opciones>li>a {
	display: block;
	padding: 10px 20px;
	color: #353535;
	font-family: 'Open sans';
	text-decoration: none;
}

.opciones li a:hover {
	color: #8adf8a;
	transition: all .3s;
}



/* ListaCat*/

.ListaCat {
	position: absolute;
	background: #333333;
	width: 120%;
	visibility: hidden;
	opacity: 0;
	transition: opacity 1.5s;
}

.ListaCat li a {
	display: block;
	padding: 15px;
	color: #fff;
	font-family: 'Open sans';
	text-decoration: none;
}

.opciones li:hover .ListaCat {
	visibility: visible;
	opacity: 1;
}

.ImgCentro {
	text-align: center;
	width: 1215px;
	height: 350px;
}

.image-product {
	width: 120px;
	height: 150px;
}

.table-office {
	text-align: center;
	width: 80%;
	margin: auto;
}

table hr {
	height: 1px;
	width: 90%;
}

/*Form */

.form1 {
	width: 400px;
	background: #ff3f5f;
	padding: 30px;
	margin: auto;
	border: 2px solid #000000;
	margin-top: 100px;
	border-radius: 20px;
	font-family: 'helvetica';
	color: black;
	box-shadow: 40px 20px 50px #0000;
}
.form1 h4{
	font-size:22px;
	margin-bottom: 20px
}

.controls{
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 2px solid #ffffff;
    font-family: 'calibri';
    font-size: 18px;
    color: white;
}

.form1 .button{
    width: 80%;
    background: #000000;
	border: 2px solid #ffffff;
    padding: 10px;
    color: white;
    margin: 10px;
    font-size: 16px;
	border-radius: 20px;
	cursor: pointer;
}
.button:hover{
    opacity: 0.7;
}

/* create account */
.container {
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 15px;
	cursor: pointer;
	font-size: 22px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
  }
  
.container input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}
  
.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 25px;
	width: 25px;
	background-color: #eee;
}
  
  .container:hover input ~ .checkmark {
	background-color: rgb(0, 0, 0);
  }
  
  .container input:checked ~ .checkmark {
	background-color: #000000;
  }
  
  .checkmark:after {
	content: "";
	position: absolute;
	display: none;
  }
  
  .container input:checked ~ .checkmark:after {
	display: block;
  }

  .container .checkmark:after {
	left: 9px;
	top: 5px;
	width: 5px;
	height: 10px;
	border: solid white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
  }

.container1 {
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 22px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
  }
  
  .container1 input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
  }
  
  .checkradio {
	position: absolute;
	top: 0;
	left: 0;
	height: 25px;
	width: 25px;
	background-color: #eee;
	border-radius: 50%;
  }
  
  .container1:hover input ~ .checkradio {
	background-color: #ccc;
  }
  
  .container1 input:checked ~ .checkradio {
	background-color: #2196F3;
  }
  
  .checkradio:after {
	content: "";
	position: absolute;
	display: none;
  }
  
  .container1 input:checked ~ .checkradio:after {
	display: block;
  }
  
  .container1 .checkradio:after {
	   top: 9px;
	  left: 9px;
	  width: 8px;
	  height: 8px;
	  border-radius: 50%;
	  background: white;
  }

  fieldset{
	line-break: normal;
	text-align: left;
	border-color: #000000;
	margin-top: 10px;
	margin: auto;
	padding: 20px;
  }

  /*Opinions*/

.opinions {
	width: 1000px;
	background: #ff3f5f;
	padding: 30px;
	margin: auto;
	border: 2px solid #000000;
	margin-top: 100px;
	border-radius: 20px;
	font-family: 'helvetica';
	color: black;
	box-shadow: 40px 20px 50px #0000;
}
.opinions h4{
	font-size:22px;
	margin-bottom: 20px
}

.controls{
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 2px solid #ffffff;
    font-family: 'calibri';
    font-size: 18px;
    color: white;
}

.opinions .button{
    width: 80%;
    background: #000000;
	border: 2px solid #ffffff;
    padding: 10px;
    color: white;
    margin: 10px;
    font-size: 16px;
	border-radius: 20px;
	cursor: pointer;
}
.button:hover{
    opacity: 0.7;
}

.container2 {
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 22px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
  }
  
  .container2 input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
  }
  
  .checkradio {
	position: absolute;
	top: 7px;
	left: 7px;
	height: 15px;
	width: 15px;
	background-color: #eee;
	border-radius: 50%;
  }
  
  .container2:hover input ~ .checkradio {
	background-color: #ccc;
  }
  
  .container2 input:checked ~ .checkradio {
	background-color: #2196F3;
  }
  
  .checkradio:after {
	content: "";
	position: absolute;
	display: none;
  }
  
  .container2 input:checked ~ .checkradio:after {
	display: block;
  }
  
  .container2 .checkradio:after {
	   top: 4px;
	  left: 4px;
	  width: 8px;
	  height: 8px;
	  border-radius: 50%;
	  background: white;
  }
  img.zoom {
    width: 350px;
    height: 200px;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -moz-animation: all .2s ease-in-out;
    -ms-transform: all .2s ease-in-out;
}
 
.transition {
    -webkit-transform: scale(1.8); 
    -moz-transform: scale(1.8);
    -o-transform: scale(1.8);
    transform: scale(1.8);
}